/.vscode
/Article
/data
/diplomski latex
/dokumnetacija
/empty_labels
/images
/row_data
/~$plomsk.docx
/~WRL1215.tmp
/JAVA_application/export
/JAVA_application/Tester
/JMBAG_detector_code/GAN
/JMBAG_detector_code/test_model
/JMBAG_detector_code/tmp_code